 
 <header>
  	<div class="col-xs-3">
  		<div class="circle">
      <%= t(".circle_text_html") %>  
		</div>
  	</div>
  	<div class="col-xs-4 slogan">
      <%= t(".fishies") %>
  	</div>
  	<div class="col-xs-5 links">
      <%= link_to t(".contribute"), '#' %>
      <%= link_to t(".about"), '#' %>
  	</div>
  </header>

<hr />
<br class="clear" />