.clear {
	clear:both;
}

.circle {
	font-family: 'Raleway', sans-serif;
  font-weight:bold;
  font-style: italic;
  position: relative;
  border-radius: 100%;
  background: #f84342;
  border: 1px solid #F7F7F7;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  text-align: center;
  color: #FFF;
  font-size: 10px;
  line-height: 16px;
  cursor: pointer;
  transform:rotate(11deg);
  -ms-transform:rotate(11deg); /* IE 9 */
  -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: 'amatic_scregular';  
  padding-top: 33px;
  font-size: 30px;
  font-weight: bold;

}

.links {
	padding-top: 40px;
  padding-right: 50px;
  text-align: right;
  }

.links a {
	color: #5D5E5E;
	font-size: 15px;
	border-bottom: 1px solid #dfdfdf;
	font-family: 'Raleway', sans-serif;
}


header {
  border-top: 9px solid #222222;
}


hr {
	clear:both;
}


h1 {
  font-family: 'amatic_scregular';  
  font-weight: 600;
  font-size: 55px;
}

h2 {
  font-family: 'amatic_scregular';
  font-weight: 600;
  font-size: 30px;
}

h2 span {
  color: #5D5E5E;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

h3 {
  color: #5D5E5E;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}
.next-quote {
	color: #ED053B;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}


.footer-blurb {
 	font-family: 'Raleway', sans-serif;
	color: #5D5E5E;
	font-style: italic;
	text-align: right;
	font-size: 13px;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

.logo:hover {
  text-decoration: none;
}

.about {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}


.modal {
font-family: 'Raleway', sans-serif; 
}


::selection {
  background-color: #ED053B;
}

